@import "../../scss/variables";
@import "../../scss/mixins";
.construction{
    height: 100vh;
    background-image: url('../../assets/page_under_construction.jpg');
    background-size: 100%;
    background-position:top;
    background-repeat: no-repeat;

    @include respond(phone) {
        background-image: url('../../assets/page_under_construction-small.jpg');
        background-position: center;
    }

}