@import "./variables";
@import "./functions";
@import "./mixins";

.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: $color-black, $alpha: 0.4);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    width: 100%;

    &__main{
        font-weight: weight(regular);
        letter-spacing: .1rem;
    }

    &__sub{
        color: $color-grey-dark-2;
        font-weight: weight(regular);
        letter-spacing: .1rem;
    }
}

.form{

    width: 100%;

    &__group:not(:last-child){
        margin-bottom: 1.5rem;
    }

    &__input{
        background-color: transparent;
        display: block;
        width: 90%;
        font-size: 1.5rem;
        padding: 1.2rem 2rem;
        border: none;
        border-radius: .3rem;
        border-bottom: .2rem solid $color-grey-dark-3;
        transition: all .5s;

        &-box{

            &:not(:last-child){
                margin-right: 1rem;
            }

            display: inline-block;
            height: 5.5rem;
            width: 5.5rem;
            font-size: 2rem;
            text-align: center;
            border: .2rem solid $color-primary;
            box-shadow: $box-shadow;

            &:focus{
                outline: none;
            }
        }

        &:focus{
            outline: none;
            box-shadow: $box-shadow;
            border-bottom: .2rem solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: .2rem solid $color-tertiary-dark;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        &:not(:placeholder-shown){
            border-bottom: .2rem solid $color-primary;
        }
    }

    &__label{
        display: block;
        font-size: 1.2rem;
        font-weight: weight(bold);
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .4s;

        &-radio{
            color: $color-grey-dark-1;
            letter-spacing: .1rem;
            font-weight: weight(bold);
            margin: 0 2rem;
        }
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__info{
        font-size: 1.2rem;
        padding: 1rem 0;
    }

}



.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        font-size: $font-size-default;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 3rem;
        border-radius: .2rem;
        border: none;
        cursor: pointer;
        transition: all .3s;
    }
    
    &:hover {
        box-shadow: $box-shadow;
    }
    
    &:active,
    &:focus {
        outline: none;
        box-shadow: $box-shadow;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark-3;
    }
    
}

.btn-text {
    &,
    &:link,
    &:visited {
        display: inline-block;
        color: $color-primary-light;
        background-color: inherit;
        font-size: $font-size-default;
        text-decoration: none;
        text-transform: capitalize;
        padding: 1rem 3rem;
        border: none;
        cursor: pointer;
        transition: all .3s;
    }
    
    &:hover {
        color: $color-white;
        background-color: $color-primary-dark;
        box-shadow: $box-shadow;
    }
    
    &:active,
    &:focus {
        outline: none;
        box-shadow: $box-shadow;
    }
}

.add-icon{
    color:$color-primary;
    transform: scale(4);
    position: fixed;
    right: 6rem;
    bottom: 6rem;
    z-index: 10;
    &:hover{
        color:$color-primary-dark;
        cursor: pointer;
    }
}

.cards{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-empty{
        margin: 2rem;
    }
}